lectures files/LNmTranslation.aux
lectures files/.DS_Store
.DS_Store
lectures files/LNm.aux
lectures files/LNm.log
lectures files/LNm.out
lectures files/LNm.pdf
lectures files/LNm.synctex.gz
lectures files/LNm.toc
lectures files/LNmTranslation.log
lectures files/LNmTranslation.out
lectures files/LNmTranslation.pdf
lectures files/LNmTranslation.synctex.gz
lectures files/LNmTranslation.toc
